@{
    ViewBag.Title = "Links";
}


<div>
    <h3>Login to test merchant</h3>
    <ul>
        <li>login: <a target="_blank" href="https://testmerchant.multisafepay.com/login">https://testmerchant.multisafepay.com/login</a></li>
        <li>Email: it.europe@tweddle.com</li>
        <li>Security code: 983447</li>
        <li>Password: Tweddle123$</li>
    </ul>

    <h3>Test integration</h3>
    <a target="_blank" href="https://www.multisafepay.com/documentation/doc/Test%20Integration/" >https://www.multisafepay.com/documentation/doc/Test%20Integration/</a>

    <h3>Api reference</h3>
    <a target="_blank" href="https://www.multisafepay.com/documentation/doc/API-Reference/">https://www.multisafepay.com/documentation/doc/API-Reference/</a>

    <h3>NuGet</h3>
    <a target="_blank" href="https://www.nuget.org/packages/MultiSafepay">https://www.nuget.org/packages/MultiSafepay</a>

    <h3>Api keys</h3>
    <ul>
        <li>8286257f9d78e2dc0de06080e256e4233b807e62</li>
    </ul>

    <h3>Dutch manual</h3>
        <a href="https://www.multisafepay.com/downloads/handleidingen/Handleiding_connect(NL).pdf">https://www.multisafepay.com/downloads/handleidingen/Handleiding_connect(NL).pdf</a>
</div>
